  <div class="center-container">
    <label for="filePathInput"></label>
    <div class="input-button-container">
      <input
      type="text"
      id="filePathInput"
      [(ngModel)]="filePath"
      placeholder="Enter file path"
      class="custom-input"
      />
      <button (click)="loadNetwork()" class="custom-button">Load Network</button>
    </div>
  </div>

  

  <!-- <div *ngIf="!canLoadBar" #networkContainer class="network-container"></div> -->
  <div #networkContainer class="network-container"></div>

  <div *ngIf="canLoadBar" class="wrapper">
    <div
      id="loadingBar"
      [style.display]="loadingBarDisplay"
      [style.opacity]="loadingBarOpacity"
    >
      <div class="outerBorder">
        <div id="text">{{ loadingBarText }}</div>
        <div id="border">
          <div id="bar" [style.width]="loadingBarWidth"></div>
        </div>
      </div>
    </div>
  </div>

