.sidebar {
  position: fixed;
  width: 20%;
  height: 80vh;
  background: #404252;
  transition: all 0.25s ease-in-out;
  visibility: hidden;
  border-radius: 10px 10px 10px 0;
  box-sizing: border-box;
  transform: translateX(-100%);
  /* overflow: hidden; */
}
.sidebar.show-sidebar {
  /* margin-left: 0; */
  visibility: visible;
  /* pointer-events: inherit; */
  transition: all 0.25s ease-in-out;
  opacity: 1;
  transform: translateX(0);
}

.nav-toggle {
  visibility: visible;
  right: -40px;
  top: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  line-height: 50%;
  text-align: center;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  background-color: purple;
}

.nav-toggle:before {
  content: "\2192";
  color: white;
  font-weight: 600;
}

.sidebar.show-sidebar .nav-toggle:before {
  content: "\2190";
}

/* button {
  right: -40px;
  position: absolute;
  line-height: 50%;
  text-align: center;
  font-weight: 600;
} */
.sidebar header {
  font-size: 2em;
  color: white;
  text-align: center;
  background: purple;
}

.modal-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
