<div class="center">
  <div class="dropdown">
    <button class="dropbtn">Filter Relationships</button>
    <div class="dropdown-content">
      <a href="#" (click)="updateFilters('input')">Show Inputs</a>
      <a href="#" (click)="updateFilters('output')">Show Outputs</a>
      <a href="#" (click)="updateFilters('all')">Show All Relationships</a>
      <a href="#" (click)="updateFilters('Router')">Show Routes</a>
    </div>
  </div>
</div>

<div
  #networkContainer
  style="
    margin-left: 5rem;
    width: 70vw;
    height: 70vh;
    background-color: white;
  "
></div>

