<!-- <div class="buttonContainer">
  <div>
    <button class="button-77" (click)="toggleView()">
      {{ currentView === 'folder-file' ? 'Parent Child View' : 'File System View' }}
    </button>
  </div>
</div> -->

<div class="buttonContainer">
  <div>
    <button class="button-77" (click)="loadFolderFile()">
      Folder-File
    </button>
    <button class="button-77" (click)="loadParentChild()">
      Parent-Child
    </button>
  </div>
</div>


<div *ngIf="currentView === 'folder-file'">
  <folder-file></folder-file>
</div>

<div *ngIf="currentView === 'parent-child'">
  <parent-child></parent-child>
</div>

<router-outlet></router-outlet>
